#trusted-device-info-view{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 0;
}

.trusted-device-info-container{
  width: 100%;
  height: 100%;
  position: relative;

  .title-txt{
    padding: 0 0.75rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-top: 0.05rem solid #ededed;
    border-bottom: 0.05rem solid #ededed;
  }

  .device-info-list{
    width: 100%;
    height: calc(100% - 3rem);
    overflow-y: auto;
    padding: 0.75rem;
    font-size: 0.75rem;
    color: #35353f;

    .device-info-item{
      .device-info-date-div{
        .date-icon{
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.5rem;
          background-color: #96c2fd;
          margin-right: 0.5rem;
          display: inline-block;
        }
      }

      .device-place-list{
        padding: 0.75rem 0;
        margin-left: 0.2rem;
        border-left: 0.05rem solid #ededed;

        .device-place-item{
          height: 1.75rem;
          line-height: 1.75rem;
          border-radius: 0.25rem;
          margin-left: 0.75rem;
          background: #f7faff;
          box-sizing: border-box;
          margin-bottom: 0.5rem;
          font-size: 0.7rem;

          .device-place-date{
            float: left;
            margin-left: 0.5rem;
          }

          .device-place-title{
            float: right;
            color: #90909b;
            margin-right: 0.5rem;
          }
        }

        .device-place-item:last-child{
          margin-bottom: 0;
        }
      }

      
    }

    .device-info-item:first-child{
      margin-top: 0;
    }

    .device-info-item:last-child{
      .device-place-list{
        border-left:0;
      }
    }

    .no-info{
      width: 100%;
      height: 100%;
      font-size: 1rem;
      text-align: center;
      color: #2f2f2f;
      padding-top: 25%;

      .no-data-icon{
        width: 100%;
        height: 4.15rem;
        background: url(../../static/images/common/no-data-icon.png) no-repeat center;
        background-size: auto 100%;
      }

      .msg{
        font-size: 0.8rem;
        color: #35353f;
        padding-top: 1rem;
      }
    }
  }
}