#trade-rights-view{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.trade-rights-container{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-top: 0.05rem solid #ededed;
    padding: 0 0.75rem;
}